# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info
.eggs/
build/
dist/
*.ipynb_checkpoints
*.pytest_cache/

# Environment
venv/

# DBT specific
dbt_modules/
dbt/logs/
dbt/.user.yml

# Dagster specific
/dags/__pycache__/
